@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

</div>
<div class="row">
    <div class="col-12 UploadForm" style="">
		<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
			<div class="form-group">
				<div class="row">
					<div class="col-xs-2">
					</div>
					<div class="col-xs-8">

						<p>Select An Image File <br />For Conversion:</p>
						<hr />
						
						<input type="file" name="files" multiple />
					</div>
					<div class="col-xs-2">
					</div>
				</div>
				<hr />
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-2">
					</div>
					<div class="col-xs-8">
						<input type="submit" value="Upload" />
					</div>
					<div class="col-xs-2">
					</div>
				</div>
			</div>
		</form>
    </div>
</div>
